@font-face {
  font-family: "GT_Alpina_Condensed_Medium";
  src: url("assets/fonts/GT-Alpina-Condensed-Medium.woff2");
}

@font-face {
  font-family: "GT_Alpina_Condensed_Regular";
  src: url("assets/fonts/GT-Alpina-Condensed-Regular.woff2");
}

@font-face {
  font-family: "GT_Alpina_Regular";
  src: url("assets/fonts/GT-Alpina-Regular.woff2");
}

@font-face {
  font-family: "GT_Zirkon_Regular";
  src: url("assets/fonts/GT-Zirkon-Regular.woff2");
}

@font-face {
  font-family: "GT_Zirkon_Medium";
  src: url("assets/fonts/GT-Zirkon-Medium.woff2");
}

@font-face {
  font-family: "GT_America_Mono_Regular";
  src: url("assets/fonts/GT-America-Mono-Regular.woff");
}


body {
  display: grid;
  grid-template-columns: repeat(16, [col-start] 1fr);
  column-gap: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  margin: 0;
  background-color: #FB1F14;
}

#nav-1 {
  grid-column-start: 2;
  grid-column-end: 4;
  margin-top: 24px;
  display: inline-block;
}

#nav-2 {
  grid-column-start: 10;
  grid-column-end: 13;
  margin-top: 24px;
  display: inline-block;
}

#info {
  align: left;
  color: #000000;
  font-family: "GT_Zirkon_Medium";
  font-size: 16px;
}

#projects {
  align: left;
  color: #000000;
  font-family: "GT_Zirkon_Medium";
  font-size: 16px;
  grid-column-start: 10;
  grid-column-end: 13;
}

#bio {
  grid-column-start: 2;
  grid-column-end: 7;
  margin-top: 24px;
}

.description {
  align: left;
  color: #000000;
  font-family: "GT_Zirkon_Regular";
  font-size: 16px;
  margin-bottom: 24px;
  line-height: 20px;
}

.company {
  font-family: "GT_Zirkon_Medium";
  font-size: 16px;
  border-bottom: 1px solid #000000;
  color: #000000;
  text-decoration: none;
}

.company:hover {
  border-bottom: 1px solid #FFFFFF;
}

#social {
  grid-column-start: 2;
  grid-column-end: 4;
  margin-top: 24px;
  display: inline-block;
}

#downloads {
  grid-column-start: 2;
  grid-column-end: 4;
  margin-top: 24px;
  display: block;
}

.title {
  align: left;
  color: #000000;
  font-family: "GT_Alpina_Regular";
  font-size: 16px;
  margin-bottom: 12px;
}

ul {
  list-style: none;
  padding-left: 0;
  list-style-position: inside;
  text-indent: -16px;
  margin-left: 20px;
  margin-top: -4px;
}

li {
}

.link:hover {
  color: #FFFFFF;
}

.link:before {
  content:"⟶";
}

.interest:before {
  content: "⚬";
}

.interest {
  align: left;
  color: #000000;
  font-family: "GT_America_Mono_Regular";
  font-size: 12px;
  text-transform: uppercase;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-bottom: -6px;
  text-decoration: none;
}

/* &#9675  , \279E*/


a.link {
  align: left;
  color: #000000;
  font-family: "GT_America_Mono_Regular";
  font-size: 12px;
  text-transform: uppercase;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-bottom: -6px;
  text-decoration: none;
}

#interests {
  grid-column-start: 5;
  grid-column-end: 8;
  display: inline-block;
  margin-top: -110px;
}

#work {
  grid-column-start: 10;
  grid-column-end: 15;
  margin-top: -288px;
}

.works {
  display: inline-block;
  height: auto;
  cursor: pointer;
  margin-top: -2px;
}

.works:hover > p {
  opacity: 100%;
}

.work-item {
  font-family: "GT_Alpina_Condensed_Regular";
  font-size: 48px;
  text-transform: uppercase;
  display: inline;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.work-item:hover {
  text-shadow:
		-1px -1px 0 #FFFFFF,
		1px -1px 0 #FFFFFF,
		-1px 1px 0 #FFFFFF,
		1px 1px 0 #FFFFFF;
  color: #FB1F14;
}

.view-tag {
  display: inline;
  position: relative;
  bottom: 12px;
  margin-left: 12px;
  color: #000000;
  font-family: "GT_America_Mono_Regular";
  font-size: 12px;
  text-transform: uppercase;
  opacity: 0%;
}

.overlay {
  position: fixed;
  height: 540px;
  width: 584px;
  opacity: 0%;
  background-color: #000000;
  margin-top: 96px;
  margin-left: 78px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  z-index: -1
}

.overlay-text {
  color: #FB1F14;
  font-family: "GT_Zirkon_Regular";
  font-size: 16px;
  line-height: 20px;
  margin-top: 28px;
}

.project-image {
  height: 70%;
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
}
