@font-face {
    font-family: "AppleGaramond"; 
    src: url(fonts/AppleGaramond-Light.ttf);
}

a { text-decoration: none;color:inherit;}
a:hover { COLOR:  rgb(16,203,215); TEXT-DECORATION: none; font-weight: none }

a.underline{ text-decoration: underline;}

html{ width: 100vw;  margin: 0;  padding: 0; }


body {
    text-decoration:none;
    font-family: "AppleGaramond";
    position: relative;
    top: 35px;
    left: 35px;
    overflow-x: hidden; max-width: 100vw;  width: 100vw;  margin: 0;  padding: 0; 
    background-color: rgb(242,242,228);
}

h1{
    font-size:32px;
    top: 80px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}


ul {
    position: relative;
    left: -40px;
    top: 10px;
    font-size:28px;
    text-decoration:none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
